@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
* {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  background: #FCFCFC;
  font-size: 14px;
}

.content {
  background: #FFF;
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: -1px 0 10px rgba(0, 0, 0, 0.2), 1px 0 10px rgba(0, 0, 0, 0.2);
}

.body-overflow {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1000px;
  position: relative;
}

.none {
  display: none !important;
}

.button {
  border: 1px solid #F25E3A;
  font-weight: 700;
  color: #F25E3A;
  transition: all 0.3s;
}
.button:hover {
  background: #F25E3A;
  color: #FFF;
}

.title-2 {
  font-size: 36px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  padding: 35px;
  max-width: 500px;
  border-top: 1px solid #000;
}

.title-3 {
  font-size: 24px;
  color: #FFF;
}

.img-x {
  width: 16px;
}

.popup__container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.map__container {
  position: fixed;
  top: 125px;
  height: 400px;
  width: 950px;
}

.header {
  padding-top: 40px;
}

@media screen and (max-width: 768px) {
  .header__top-row {
    display: flex;
    flex-direction: column;
  }
}

.header__title {
  margin-top: -5px;
  font-size: 50px;
  display: inline-block;
  color: #FFF;
  font-weight: 700;
  text-shadow: -2px -2px 2px #F25E3A, 2px 2px 2px #000;
  transition: all 0.3s;
}
.header__title:hover {
  text-shadow: -4px -2px 2px #F25E3A, 4px 2px 2px #000;
}

.header__search-block {
  float: right;
}

.header__search-input {
  padding: 10px;
  border: 1px solid #818181;
  width: 220px;
  height: 40px;
  transition: all 0.3s;
}
.header__search-input:hover {
  width: 400px;
}

.header__search-button {
  margin-left: 20px;
  height: 40px;
  width: 95px;
}

.header__nav {
  margin-top: 60px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .nav__list {
    gap: 20px;
  }
}
.nav__list a {
  color: #F25E3A;
  transition: filter 0.3s;
}
.nav__list a:hover {
  filter: brightness(80%);
}

.header__add-button {
  width: 170px;
  height: 50px;
}

.top-teachers {
  margin-top: 40px;
}

.top-teachers__filters {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .top-teachers__filters {
    justify-content: center;
    margin-bottom: 120px;
  }
}

.filters__item {
  height: 100%;
  display: flex;
  align-items: center;
}
.filters__item--select {
  gap: 20px;
}
.filters__item--checkbox {
  gap: 5px;
  margin-right: 10px;
}

.filters__label {
  color: #818181;
}

.filters__select {
  border: 1px solid #000;
  border-radius: 2px;
  height: 100%;
  padding: 5px;
}

.filters__horizontal-line {
  border-left: 2px dotted #818181;
  height: 100%;
}

.top-teachers__catalog {
  display: flex;
  margin-top: 60px;
  gap: 50px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .top-teachers__catalog {
    justify-content: center;
  }
}

.teacher__card {
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.teacher__card-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border: 3px solid #F25E3A;
  border-radius: 50%;
}

.teacher__card-img {
  width: 150px;
  transition: all 0.3s ease-out;
  height: 150px;
  font-size: 30px;
  color: #F25E3A;
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.teacher__card-img:hover {
  transform: scale(1.2);
}

.teacher__card-name {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}

.teacher__card-subject {
  font-size: 14px;
  color: #818181;
  margin-top: 10px;
}

.teacher__card-country {
  font-size: 10px;
  margin-top: 5px;
}

.teacher__card-favorite {
  width: 40px;
  position: absolute;
  right: 0;
}

.statistics {
  margin-top: 40px;
}

.statistics__table-container {
  overflow: auto;
}

.statistics__table {
  table-layout: auto;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  color: #201A28;
}
.statistics__table th {
  padding: 17px;
  font-size: 18px;
  font-weight: 400;
  background: #FFF;
  border-bottom: 4px solid transparent;
}
.statistics__table th:nth-child(1) {
  padding-left: 30px;
  text-align: left;
}
.statistics__table th.thead-asc::after {
  opacity: 1;
  content: "↑";
}
.statistics__table th.thead-desc::after {
  opacity: 1;
  content: "↓";
}
.statistics__table th::after {
  content: "↓";
  color: #18A1B1;
  opacity: 0;
  padding-left: 10px;
}
.statistics__table th:hover {
  filter: brightness(97%);
  border-bottom: 4px solid;
}
.statistics__table th:hover::after {
  opacity: 1;
}
.statistics__table thead tr:nth-child(3) {
  border-top: 1px solid #000;
}
.statistics__table tr:nth-child(odd) {
  background: #FAF5FB;
}
.statistics__table td {
  padding: 10px;
}
.statistics__table td:nth-child(1) {
  text-align: left;
}
.statistics__table td.table__border-bottom {
  padding: 0;
}

.statistics__pagination {
  margin-top: 30px;
  margin-left: 15px;
}
.statistics__pagination ul {
  display: flex;
  gap: 15px;
}
.statistics__pagination ul li {
  color: #18A1B1;
}
.statistics__pagination ul li.current__page {
  color: #000;
}

.favorites {
  margin-top: 40px;
}

.favorites__grid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 10fr 1fr;
}

.favorites__arrow {
  width: 20px;
  transition: all 1s;
}
.favorites__arrow:hover {
  filter: brightness(0%);
}

.favorites__arrow-right {
  transform: rotate(180deg);
}

.favorites__grid-list {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.slider-line {
  overflow: hidden;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1158px) {
  .slider-line {
    width: 800px;
  }
}
@media screen and (max-width: 858px) {
  .slider-line {
    width: 600px;
  }
}
@media screen and (max-width: 658px) {
  .slider-line {
    width: 400px;
  }
}
@media screen and (max-width: 458px) {
  .slider-line {
    width: 200px;
  }
}

.footer {
  margin-top: 60px;
}

.footer__text {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__nav {
  padding-bottom: 40px;
}

.add-teacher__popup {
  margin-top: 200px;
  max-width: 560px;
  background: #FFF;
  box-shadow: -1px 0 10px rgba(0, 0, 0, 0.2), 1px 0 10px rgba(0, 0, 0, 0.2), 0px -1px 10px rgba(0, 0, 0, 0.2);
}

.add-teacher__title {
  background: #464648;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: -4px;
}

.add-teacher__form {
  display: grid;
  padding: 30px 35px;
  grid-template-columns: repeat(2, 1fr);
  color: #818181;
  gap: 20px;
}

.form__element {
  gap: 3px;
  display: flex;
  flex-direction: column;
}
.form__element input, .form__element select, .form__element textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 2px;
  height: 30px;
}
.form__element input::placeholder, .form__element select::placeholder, .form__element textarea::placeholder {
  color: #000;
}
.form__element input[type=radio] {
  width: 15px;
}
.form__element textarea {
  height: 125px;
}
.form__element:nth-child(1) {
  grid-area: 1/1/2/3;
}
.form__element:nth-child(2) {
  grid-area: 2/1/3/3;
}
.form__element:nth-child(3) {
  grid-area: 3/1/4/2;
}
.form__element:nth-child(4) {
  grid-area: 3/2/4/3;
}
.form__element:nth-child(5) {
  grid-area: 4/1/5/2;
}
.form__element:nth-child(6) {
  grid-area: 4/2/5/3;
}
.form__element:nth-child(7) {
  grid-area: 5/1/6/2;
}
.form__element:nth-child(8) {
  grid-area: 6/1/7/2;
  flex-direction: row;
  gap: 7px;
  align-items: center;
}
.form__element:nth-child(8) p {
  margin-right: 30px;
}
.form__element:nth-child(9) {
  grid-area: 7/1/8/2;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
.form__element:nth-child(10) {
  grid-area: 8/1/9/3;
}

.add-teacher__button {
  grid-area: 9/1/10/3;
  height: 60px;
  font-size: 30px;
}

.teacher-info__popup {
  max-width: 950px;
  width: 100%;
  color: #818181;
  background: #FFF;
}

.teacher-info__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}

.teacher-info__content-top-row {
  display: flex;
  gap: 40px;
}

.teacher-info__block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.teacher-info__block-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.teacher-info__img {
  width: 320px;
  height: 320px;
  display: inline-block;
}

.teacher-info__title {
  color: #000;
  font-size: 36px;
}

.teacher-info__subject {
  color: #000;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

.teacher-info__email {
  color: #2899A7;
}

.teacher-info__map {
  color: #2899A7;
  border-bottom: 1.5px dashed #2899A7;
  display: inline-block;
}

.teacher-info__add-to-favorite {
  width: 45px;
}

/*# sourceMappingURL=style.css.map */
